// Some fancy bars for an eye-candy effect.
// Credits: http://codepen.io/johnheiner/pen/JdRybK and http://codepen.io/jackrugile/pres/CkAbG
@keyframes sound {
  0% {
    opacity: .35;
    height: 2px;
  }
  100% {
    opacity: 1;
    height: 60px;
  }
}

#bars,
.loading-bars {
  width: 200px;
  height: 80px;
  position: relative;
  display: inline-block;

  .bar {
    background: #666;
    bottom: 1px;
    position: absolute;
    min-width: 10px;
    animation: sound 0ms -800ms linear infinite alternate;
     height: 80px;
  }
  $startLeft: -13px;
  @each $current-color in $loading-colors-list {
    $i: index($loading-colors-list, $current-color);
    .bar:nth-child(#{$i}) {
      left: $startLeft + (14px * $i);
      background: nth($loading-colors-list, $i);
      animation-duration: (300 + random(200)) * 1ms;
    }
  }
}

.loading-bars {
  width: 60px;
  height: 30px;
}
