{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 8 }
        }]
        // "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
        // "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
        // "stage-0"
      ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
