/* ==========================================================================
   Header - Main header
   ========================================================================== */
@include media-breakpoint-down(xs) {
  .navbar-expand-sm > .container {
    padding: 0 $grid-gutter-width / 2;
  }
}
.navbar {
  background-color: theme-color-dark();
  .navbar-collapse {
    @extend .justify-content-end;
  }
  .navbar-brand {
    overflow: hidden;
    background-color: theme-color('secondary');
    width: $navdrawer-width;
    height: 56px;
    margin-left: -1rem;
    display: flex;
    flex-direction: column;
    &:hover {
      .brand-back,
      .brand-logo {
        transform: translate3d(0,-56px,0);
      }
    }
  }
  .brand-logo,
  .brand-back {
    transform: translate3d(0,0,0);
    display: block;
    width: $navdrawer-width;
    min-height: 56px;
    color: theme-color-light('light');
    transition: all 0.3s linear;
    text-align: center;
    font-size: 3.2rem;
    background-color: theme-color('secondary');
    border: 1px solid theme-color('secondary');
  }
  .brand-logo {
    transition: all 0.3s linear;
    display: block;
    background: url('#{$general}/logo.svg') no-repeat;
    background-size: 32px 32px;
    background-position: center;
    width: $navdrawer-width;
    min-height: 56px;
  }
}

/* ==================================================
  Sticky
  ================================================== */
.sticky {
  // Element is a sticky target but not yet sticky
  transition: all 0.3s linear;
  z-index: $zindex-sticky;
  &.navbar {
    transition: all 0.3s linear;
    background-color: theme-color-dark();
    width: 100% !important;
    // Sticky target is now sticky
    position: sticky;
    z-index: $zindex-sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 0;
  }
  &.is-sticky {
    &.navbar {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
      .navbar-collapse {
        margin-top: 0;
        .nav-item {
          .nav-link {
            padding-top: $nav-link-padding-y;
            color: $link-color;
            &:before {
              background-color: theme-color('secondary');
            }
          }
        }
      }
    }
  }
}


