/* ==========================================================================
   Header - Search form
   ========================================================================== */

/* General
   ========================================================================== */
form.form-search {
  @include make-col-ready();
  @include make-col(5);
  padding-right: 0;
  @include media-breakpoint-up(sm) {
    @include make-col(4.5);
  }
  @include media-breakpoint-up(md) {
    @include make-col(3.5);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2.5);
  }
  .input-group {
    margin-left: auto;
    width: 100%;
  }
  .form-control {
    background: theme-color('light');
    border-bottom: 2px solid theme-color-dark('light');
    opacity: 1;
    min-height: auto;
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: theme-color('light');
    &::placeholder {
      color: theme-color-light('light');
      opacity: 1; /* Firefox */
    }
    &:focus {
      text-decoration: none;
      border-color:theme-color('secondary');
      ~ .input-group-append {
        .btn {
          border-color:theme-color('secondary');
        }
      }
    }
  }
  .btn {
    color: theme-color('secondary');
    border-left:0;
    padding: 6px;
    border-radius: 0;
    border-bottom: 2px solid theme-color-dark('light');
  }
}

