.nav-tabs.router-tabs {
  position: sticky;
  z-index: $zindex-sticky;
  top:52px;
  @include make-col(7);
  @include media-breakpoint-up(sm) {
    @include make-col(7.5);
  }
  @include media-breakpoint-up(md) {
    @include make-col(8.5);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(9.5);
  }
  .nav-link {
    transition: background-color 0.4s ease-in-out;
    &.active {
      color: $nav-tab-color;
      &:before {
        background-color: $nav-tab-border-color;
        opacity: 0;
      }
    }
    &.active.router-link-exact-active,
    &.router-link-exact-active:active {
      opacity: 1;
    }

    &.active.router-link-exact-active {
      color: $nav-tab-color-active;

      &::before {
        opacity: 1;
      }
    }
  }
}
