.title-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px;
  padding-bottom: 2px;
  background: theme-color-dark();
  border-bottom: 1px solid theme-color();
  z-index: $zindex-fixed;
  .btn-sm {
    margin-right: 8px;
    padding: 0;
  }
}
