.user-navbar {
  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    height: auto;
    padding: 4px;
    color: theme-color('secondary');
    i {
      font-size: 22px;
      vertical-align: -6px;
    }
  }
  .dropdown-menu {
    background: theme-color('primary');
    right: 10px;
    top: 10px;
    left: auto;
    padding: 0;
    .dropdown-item {
      color: theme-color('light');
      background: theme-color('secondary');
    }
  }
}
