.player {
  z-index: 4;
  display: flex;
  background-color: $player-bg-color;
  height: $footer-fixed-height;
  border-top: 1px solid $player-border-color;
  border-bottom: 1px solid $player-border-color;
  @include media-breakpoint-down(xs) {
    flex-direction: column-reverse;
  }
  .player-row {
    display: flex;
    width: 100%;
  }
  .progress--playing + .player-row {
    .player-controls {
      padding-top: 16px;
      z-index: 9;
    }
  }
}

.player__button {
  width: 2.5rem;
  min-height: 100%;
  background-color: transparent;
  color: $button-floating-background;
  border: none;
  text-align: center;
  padding: 0.2rem;
  i {
    display: block;
    font-size: 2rem;
  }
  &__center {
    width: 76px;
    i {
      font-size: 4rem;
    }
  }
  &.tab-focus:focus,
  &:hover {
    background: $button-floating-background;
    color: $player-bg-color;
  }
  &.player__forward,
  &.player__rewind {
    display: none;
    @include media-breakpoint-up(lg) {
      display: initial;
    }
  }
}



.player-controls {
  @include make-col-ready();
  @include make-col(6);
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
  .row {
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.player-info {
  @include make-col-ready();
  @include make-col(6);
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }

  display: flex;
  .song-image {
    flex: 0;
    height: $footer-fixed-height;
    width: $footer-fixed-height;
    margin-left: -15px;
  }
  button {
    margin-top: -30px;
    height: 50px;
    float: right;
    i {
      font-size: 20px;
    }
  }
  .now-playing {
    display: block;
    padding-top: 12px;
    max-width: 100%;
    &__content {
      padding-left: 0.5rem;
      flex:0 0 100%;
      align-items: center;
    }
    .title {
      @include text-truncate();
      text-transform: capitalize;
      font-size: 1.1rem;
      line-height: 1.9rem;
      color: theme-color-light('light');
      margin-bottom: 0;

    }
    .meta {
      margin: 0;
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      padding-bottom: 3px;
      a,span {
        @include text-truncate();
        color: theme-color-light('light');
        font-size: 13px;
        margin: 0;
      }
      span {
        margin: 0 .3rem;
      }
      a:hover {
        color: theme-color('secondary');
      }
    }



  }

  #time {
    float: right;
    width: 50%;
    text-align: right;
    > div {
      float: left;
      width: 50%;
    }
  }
}





