.player .progress {
  position: absolute;
  top: 1px;
  left: $footer-fixed-height;
  right: percentage(2.5 / $grid-columns);
  z-index: 2;
  overflow: visible;
  &__sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }
  &__controls {
    width: 100%;
  }
  &__progress {
    position: relative;
    flex: 1;

    input[type="range"] {
      position: relative;
      -webkit-appearance: none;
      z-index: 2;
      width: 100%;
      vertical-align: top;
      top:0;
      appearance: none;
      cursor: pointer;
      border: none;
      background: transparent;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 0 3px 3px 0;
        background-image:
                radial-gradient(circle,
                        transparent 33%, rgba(0, 0, 0, .1) 33%,
                        rgba(0,0, 0, .1) 66%, transparent 66%),
                radial-gradient(circle, theme-color('secondary'), theme-color-dark('secondary'));
        cursor: w-resize;
        transition: ease 30ms ease;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
       background: transparent;
      }
      &::-moz-range-track {
        background: transparent;
      }
      &::-ms-fill-upper {
        background: transparent;
      }
    }

    &--buffer,
    &--played{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0;
      vertical-align: top;
      appearance: none;
      border: none;
      background: theme-color('primary');
      box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
    }
    &--buffer {
      border-radius: 0;
    }
    &--played {
      &[value] {
        &::-webkit-progress-bar {
          background: transparent;
        }
        &::-webkit-progress-value {
          background-color: theme-color('secondary');
          background-size: 16px;
          background-image: linear-gradient(
                          -45deg,
                          rgba(theme-color-dark('primary'), .15) 25%,
                          transparent 25%,
                          transparent 50%,
                          rgba(theme-color-dark('primary'), .15) 50%,
                          rgba(theme-color-dark('primary'), .15) 75%,
                          transparent 75%,
                          transparent 100%,
          );
        }
      }

    }
  }


  &.progress--playing {
    .progress__progress {
      width: 100%;
      opacity: 1;
      border-radius: 0;

      @include media-breakpoint-up(sm) {
        .progress__progress--buffer,
        .progress__progress--played {

          &::-webkit-progress-bar {
            background: transparent;
          }
        }
      }
    }

  }
  .progress__progress {
    width: 1px;
    opacity: 0;
    transition: all 0.5s ease;
  }
  &__tooltip {
    position: absolute;
    z-index: 2;
    bottom: 100%;
    pointer-events: none;
    left: 0;
    opacity: 0;
    background: theme-color('secondary');
    border-radius: 1rem;
    margin-bottom: (12px * 2);
    padding: 12px (12px * 1.5);
    color: $white;
    font-size: 1.6rem;
    line-height: 1.3;

    transform: translate(-50%, 10px) scale(0.8);
    transform-origin: 50% 100%;
    transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
    &.progress__tooltip--visible {
      opacity: 1;
      transform: translate(-50%, 0) scale(1);
    }
    &::before {
      // Arrows
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      transform: translateX(-50%);

      // The background triangle
      bottom: -16px;
      border-right: 16px solid transparent;
      border-top: 16px solid theme-color('secondary');
      border-left: 16px solid transparent;
      z-index: 2;
    }
  }
  .progress__time--current,
  .progress__time--duration {
    position: absolute;
    top: 15px;
    left: 75px;
    color: $player-txt-color;
  }
  .progress__time--duration {
    left: auto;
    right: 15px;
  }
}

@keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
