.appBar {
  .title-bar {
    position: fixed;
    top:0;
    justify-content: left;
    padding-left: 75px;
    -webkit-user-select: none;
    -webkit-app-region: drag
  }
  .navbar.sticky {
    top: 39px;
  }
  .playing-overlay {
    top:95px;
  }
  .playlist {
    top:97px;
    height: calc(100vh - #{$footer-fixed-height} - 97px);
    ul {
      height: calc(100vh - #{$footer-fixed-height} - 189px);
    }
  }
  .nav-drawer-nav {
    top:95px;
  }
  .router-view {
    margin-top: 95px;
  }
  .breadcrumb-fixed {
    left: 100px;
    height: 36px;
    padding: 0px 8px;
    min-height: auto;
  }
}