.appBar {
  .title-bar {
    position: fixed;
    top:0;
    justify-content: left;
    padding-left: 75px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index:1200;
  }
  .navbar.sticky {
    top: 45px;
    position: fixed;
    ~ .container-fluid .router-view {
      margin-top: 40px;
      padding-bottom:calc(#{$footer-fixed-height} + 45px);
    }
  }
  .playing-overlay {
    top:49px;
  }
  .playlist {
    top:50px;
    height: calc(100vh - #{$footer-fixed-height} - 50px);
    ul {
      height: calc(100vh - #{$footer-fixed-height} - 139px);
    }
  }
  .nav-drawer-nav {
    top:100px;
  }
  .breadcrumb-fixed {
    left: 80px;
    height: 56px;
    padding: 0;
    min-height: auto;
    img {
      max-height: 50px;
      margin-top: -8px;
    }
  }
}
