/* ==========================================================================
   Header - Breadcrumb navigation
   ========================================================================== */

.breadcrumb-fixed {
    position: fixed;
    left: 50px;
    top: 0;
    line-height: 1.75rem;
    transition: left 0.3s ease;
    background: transparent;
    display: flex;
    margin: 0;
    padding: 15px;
    z-index: $zindex-fixed;
    text-align: center;
    .slide-nav-out & {
        left: 150px;
    }
    .breadcrumb-item {
        padding: 0.725rem 0;
        a {
            font-weight: bold;
        }
        &:before {
            color: theme-color('secondary');
        }
        text-transform: lowercase;
        color: theme-color('light');
        + .breadcrumb-item {
            margin-left: 0.1rem;
            &:before {
                margin-right: 0.1rem;
            }
        }
    }
}
