/* ==========================================================================
   Structures - Pagination
   ========================================================================== */
.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
  border-top: 1px solid theme-color('dark');
  background: transparent;

  .page-item {
    flex: 1 0;
    height: 100%;
    &.disabled {
      .page-link {
        color: theme-color-light('primary');
      }
    }
  }
  .next-chunk,
  .next-page,
  .prev-chunk,
  .prev-page {
    color: theme-color('light');
    .page-link {
      padding-top: 7.5px;
      padding-bottom: 7.5px;
    }
  }
  .page-link {
    line-height: initial;
    display: block;
    color: theme-color-dark('light');
    @include transition-standard-complex('background-color');
    @include active-focus-hover {
      color: theme-color-dark('light');
      text-decoration: none;
    }

    @include focus-hover {
      background-image: linear-gradient(to bottom, theme-color('secondary'), theme-color('secondary'));
    }

    &:active,
    &.active {
      background-color: theme-color('secondary');
      background-image: none;
    }
  }
  ~ .count {
    color: theme-color-light('primary');
  }
}

.alphabet-pagination {
  flex-wrap: wrap;
  justify-content: space-evenly;
  .page-link {
    padding: 0.5rem 2px;
    font-weight: bold;
  }
}


