.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  .alert {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .card {
    flex: 0;
    max-width: 50%;
    .card-header {
      color: $white;
      background-color: theme-color('secondary');
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      h1 {
        flex: 1;
        align-self: center;
        justify-content: center;
        margin-bottom: 0;
      }
    }
    .card-body {
      padding: 1rem;
      color: theme-color-light();
    }
  }
  .brand-logo {
    border-radius: 100%;
    transition: all 0.3s linear;
    padding: 0px;
    display: block;
    height: 44px;
    width: 44px;
    background: url('#{$general}/logo.svg') no-repeat;
    background-color: rgba(theme-color-light('light'), 0.2);
    background-size: contain;
    background-position: center;
    margin-right: 0px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
