.detail-header {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    padding: 0.5rem 1.6rem 0 0;
    flex-direction: row;
  }
  .actions {
    justify-content: center;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      display: flex;
      align-items: flex-start;
    }
  }
  &__right {
    min-width: 50%;
    .meta {
      @include media-breakpoint-up(md) {
        justify-content: flex-end;
        align-content: flex-end;
      }
    }
  }
}
